{
    "root": true,
    "env": {
        "vue/setup-compiler-macros": true,
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:vue/recommended",
        "eslint:recommended",
        "@vue/prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "plugins": [],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    }
}
